body {
  font-family: sans-serif;
  font-size: 100%;
  margin: 0px;
}

#container {
  overflow: hidden;
  width: 200px;
  height: 210px;
}

.header {
  width: 100%;
  background-color: #2e51a2;
  color: white;
  text-align: center;
  padding: 20px 0px;
}

input:checked + .slider {
    background-color: #2e51a2;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2e51a2;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10%;
  margin-top: 5%;
  float: right;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

.switch-text {
  display: inline-block;
  margin-left: 10%;
  margin-top: 5%;
  padding: 10px 0;
  color: #7f8c8d;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
